@font-face {
    font-family: 'Gotham Rounded Bold Regular';
    font-style: normal;
    font-weight: bold;
    src: url("../font/Gotham-Rounded-Bold.otf");
}

@font-face {
    font-family: 'Gotham Rounded Medium Regular';
    font-style: normal;
    font-weight: initial;
    src: url("../font/Gotham-Rounded-Medium.otf");
}

/* =========MENU======== */

#menu {
    margin: 13px 8px 0px 10px;
}

p,
a {
    text-shadow: 1.4px 1.4px #333333;
}

/* TRANSITIONS */

.content_login .input_login,
.btn-menu-content,
.p_esqueci,
.criar_conta,
.btn_login,
.btn_aulas,
.block_question1 li,
.block_question2 li,
.block_question3 li,
.block_question4 li,
.content-btn-prox {
    transition: all .3s ease-out;
}

.content_login .input_login:focus,
.btn-menu-content:hover,
.btn_login:hover,
.btn_aulas:hover,
.block_question1 li:hover,
.block_question2 li:hover,
.block_question3 li:hover,
.block_question4 li:hover,
.content-btn-prox:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .7) !important;
    transform: translate(0, -2px);
    transform: scale(1.015)
}

.p_esqueci:hover,
.criar_conta:hover {
    text-shadow: 1.5px 1.5px #000000;
}

/* TRANSITIONS */

.btn-menu {
    width: 50px;
    height: 25px;
    position: relative;
    margin: 44px 54px 0 54px;
    display: flex;
    align-items: center;
}

.barra {
    margin-left: 5px !important;
}

.btn-menu .barra,
.btn-menu .barra:before,
.btn-menu .barra:after {
    width: 45px;
    height: 7px;
    display: block;
    background: #ffc661;
    border-radius: 30px;
}

.btn-menu .barra:before,
.btn-menu .barra:after {
    content: '';
    position: absolute;
    transition-duration: .3s;
}

.btn-menu .barra:before {
    top: -3px;
}

.btn-menu .barra:after {
    bottom: -3px;
}

.btn-menu .active {
    background: none;
    transition: 0.3s
}

.btn-menu .active::before {
    transform: rotate(45deg);
    top: 50%;
    margin-top: -1px;
}

.btn-menu .active::after {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
}

.block-menu {
    display: table;
    margin-top: 13px;
    margin-left: 35px;
    width: 96%;
    background-color: #ffffff80;
    text-align: left;
    border-radius: 0px 10px 10px 10px;
    padding-bottom: 24px;
}

.btn-menu-content {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1) !important;
    height: 50px;
}

.btn-menu-content .conteudo-menu {
    margin: 25px 0;
    padding: 10px 0;
}

.btn-menu-content .title-item {
    font-family: 'Gotham Rounded Bold Regular';
    font-weight: initial;
    font-size: 24px !important;
    color: #969696 !important;
    vertical-align: top;
    top: -1.5px;
    position: relative;
    left: 26px;
    text-align: right !important;
    text-shadow: none !important;
}

.icon_menu {
    width: 36px;
    margin: 0 24px;
}

/* =========FIM MENU======== */

/* =========TELA DE LOGIN======== */

#login,
#cadastro,
#home {
    /* background-image: url("../images/bg.jpg");
    background-size: contain; */
}

#login,
#cadastro .title_login {
    margin-top: 0px;
}

#login,
#cadastro .title_login h1 {
    text-align: center;
}

.logo_login {
    width: auto;
    max-width: 300px;
    display: table;
}

.subtitle {
    text-align: center;
    text-shadow: 1.45px 1.45px #333333;
    float: none !important;
}

.subtitle .line_white {
    border-bottom: 6px solid #fff;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 1.4px 1.4px 0px 0px #33333380;
}

.subtitle_login,
.subtitle_cadastro {
    font-family: 'Gotham Rounded Medium Regular';
    font-weight: initial;
    color: #fff;
    font-size: 30px;
    margin: 2px 0px 0px 0px;
}

.content_login,
.content_cadastro,
.content_home {
    border-radius: 12px;
    text-align: center;
    float: none !important;
}

.p_login,
.p_senha {
    font-family: 'Gotham Rounded Medium Regular';
    font-weight: initial;
    color: #fff;
    font-size: 26px;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 8px;
    padding-left: 5px;
    text-align: left;
}

.p_esqueci {
    font-family: 'Gotham Rounded Medium Regular';
    font-weight: initial;
    color: #fff;
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 8px;
    padding-left: 5px;
    text-align: left;
}

.p_copyright {
    font-family: 'Gotham Rounded Medium Regular';
    color: #fff;
    margin: 60px 0px 0px 0px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
    text-align: left;
}

.input_login,
.input_cadastro {
    font-family: 'Gotham Rounded Medium Regular';
    font-weight: initial;
    font-size: 22px !important;
    color: #969696 !important;
    background-color: #fff !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1) !important;
    padding: 4px 15px !important;
    margin-bottom: 0 !important;
    margin: auto !important;
    width: 90% !important;
    max-width: 850px;
}

.btn {
    font-family: 'Gotham Rounded Bold Regular';
    font-weight: initial !important;
    display: table !important;
    color: #fff !important;
    text-align: center !important;
    font-size: 24px !important;
    clear: both !important;
    background-color: #ffffff70 !important;
    border: solid 1px #fff !important;
    border-radius: 10px !important;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1) !important;
    padding: 8px 46px !important;
    margin: 24px auto 0 !important;
}

.btn_cadastrar {
    margin-bottom: 20px !important;
    padding: 8px 36px !important;
}

.criar_conta {
    display: table;
    font-family: 'Gotham Rounded Medium Regular';
    font-weight: initial;
    color: #fff;
    text-decoration: underline;
    font-size: 20px;
    clear: both;
    margin: 16px auto 20px !important;
}

/* =========FIM TELA DE LOGIN======== */

/*==== TELA CADASTRO ======*/

#cadastro .title_cadastro {
    margin-top: 0px;
}

#cadastro .title_cadastro h1 {
    text-align: center;
}

/*====FIM TELA CADASTRO ======*/

/*=====TELA DE HOME====*/

#home .title_cadastro {
    margin-top: 0px;
    text-align: center;
}

.content_home {
    padding: 12px 0 !important;
}

.btn_aulas {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1) !important;
    width: 100% !important;
    margin-top: 50px;
    margin-left: 26px !important;
}

.btn_aulas .title_btn {
    font-family: 'Gotham Rounded Bold Regular';
    font-weight: initial;
    text-align: center;
    display: table;
    color: #969696;
    text-shadow: none;
}

/*=====FIM TELA DE HOME====*/

/*=====AULA=====*/

.question1,
.question2,
.question3,
.question4 {
    margin-top: 50px;
    text-align: center;
}

.question1 p,
.question2 p,
.question3 p,
.question4 p {
    font-family: 'Gotham Rounded Bold Regular';
    font-weight: initial;
    font-size: 28px;
    color: #fff;
    text-align: center;
}

.block_question1,
.block_question2,
.block_question3,
.block_question4 {
    border-radius: 14px;
}

.block_question1 ul,
.block_question2 ul,
.block_question3 ul,
.block_question4 ul {
    list-style: none !important;
    margin: 0;
}

.block_question1 li,
.block_question2 li,
.block_question3 li,
.block_question4 li {
    text-align: center;
    display: inline-block !important;
    background-color: #fff;
    box-shadow: 0 1px 18px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.block_question1 input,
.block_question2 input,
.block_question3 input,
.block_question4 input {
    visibility: hidden !important;
    color: #fff !important;
}

.block_question1 label,
.block_question2 label,
.block_question3 label,
.block_question4 label {
    cursor: pointer !important;
    color: #7a7a7a !important;
    font-size: 30px !important;
    margin-left: 0px;
    text-align: left;
    left: -15px;
}

.block_question1 label,
.block_question2 label,
.block_question3 label,
.block_question4 label {
    cursor: pointer !important;
    color: #7a7a7a !important;
    font-size: 30px !important;
    margin-left: 0px;
    text-align: left;
}

.block_question1 [type="radio"]:not(:checked)+label:before,
[type="radio"]:not(:checked)+label:after,
.block_question2 [type="radio"]:not(:checked)+label:before,
[type="radio"]:not(:checked)+label:after,
.block_question3 [type="radio"]:not(:checked)+label:before,
[type="radio"]:not(:checked)+label:after,
.block_question4 [type="radio"]:not(:checked)+label:before,
[type="radio"]:not(:checked)+label:after {
    display: none;
}

.active_answers {
    border: 5px solid #5a9dff;
}

.content-btn-prox {
    background-color: #fff;
    width: 30%;
    border-radius: 10px;
    margin: 25px auto 0;
    padding-top: 12px;
    cursor: pointer;
}

.content-btn-prox span {
    font-family: 'Gotham Rounded Bold Regular';
    font-weight: initial;
    color: #7a7a7a !important;
    font-size: 20px !important;
    vertical-align: top;
    margin-right: 8px;
    cursor: pointer;
}

.img-proximo {
    max-width: 32px;
    margin: 0;
    cursor: pointer;
}

.btn_enviar_perguntas {
    font-family: 'Gotham Rounded Medium Regular';
    font-weight: initial;
    color: #7a7a7a;
    font-size: 25px;
    background-color: #fff;
    width: 30%;
    border-radius: 10px;
    margin: 25px auto 0;
    padding: 10px;
}

.hide {
    visibility: hidden;
}

/* --MEDIA-- */

@media screen and (max-width: 3180px) {
    body {
        background: url(../images/bg_desktop.jpg) no-repeat fixed;
        background-size: cover;
        height: 99.9%;
        overflow: hidden;
        margin: 0;
    }
    #login,
    #cadastro,
    #home {
        padding: 0 !important;
    }
    .logo_login {
        margin: 14px auto 28px auto !important;
        max-width: 264px;
        display: table;
    }
    .subtitle_login,
    .subtitle_cadastro {
        font-family: 'Gotham Rounded Medium Regular';
        font-weight: initial;
        color: #fff;
        font-size: 36px;
        margin: 0px;
        width: 50% !important;
    }
    .subtitle .line_white {
        border-bottom: 4px solid #fff;
        margin-top: 24px;
        border-radius: 20px;
        width: 25% !important;
    }
    .content_login,
    .content_cadastro,
    .content_home {
        overflow: hidden;
        padding: 4px 6px 2px 6px !important;
        width: 46% !important;
        min-width: 581px !important;
        max-width: 728px !important;
        margin: 0 auto !important;
    }
    .content_login,
    .content_cadastro,
    .content_home,
    .block-menu,
    .block_question1 {
        background-image: url("../images/bg_desktop_blurred.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 0 1px 18px rgba(0, 0, 0, 0.3);
    }
    .subtitle {
        width: 46% !important;
        min-width: 581px !important;
        max-width: 728px !important;
        margin: 0 auto !important;
    }
    /* ====== MENU ====== */
    .active-menu-blocks {
        box-shadow: 0 1px 18px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        height: 64px;
        width: 64px;
        z-index: 9999999999;
        padding: 25px;
        position: absolute;
        margin: 2px 0 0 -5px;
        border-radius: 16px;
        background-color: #ffffff60;
    }
    .block-menu {
        overflow: hidden;
        width: 46% !important;
        min-width: 424px !important;
        max-width: 484px !important;
        margin: 144px auto 0 auto !important;
        border-radius: 16px;
    }
    .btn-menu-content {
        padding: 0px 14% 0 18%;
        width: 92%;
        height: 52px;
    }
    .btn-menu-content .conteudo-menu {
        margin: 20px 0 !important;
        padding: 10px 0 0 0;
        width: 100%;
    }
    .btn-menu-content .title-item {
        font-size: 26px !important;
        vertical-align: top;
        top: -4.5px;
        position: relative;
        left: 32px;
    }
    .icon_menu {
        width: 34px;
        margin: 0 2% 0 0 !important;
    }
    .content_home {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }
    .btn_aulas {
        height: 58px !important;
        width: 96% !important;
        margin: 8px 2% !important;
    }
    .btn_aulas .title_btn {
        width: 100% !important;
        font-size: 28px !important;
        margin: 8px 0 !important;
    }
    /* AULA */
    .block_question1,
    .block_question2,
    .block_question3,
    .block_question4 {
        overflow: hidden;
        width: 60% !important;
        min-width: 474px;
        max-width: 474px;
        padding: 10px 4px;
        margin: 20px auto 0 auto !important;
    }
    .block_question1 li,
    .block_question2 li,
    .block_question3 li,
    .block_question4 li {
        margin: 6px 4px;
        width: 45%;
        height: 114px;
        padding-top: 38px;
        font-family: 'Gotham Rounded Bold Regular';
        font-size: 26px;
    }
    .content-btn-prox {
        background-color: #fff;
        width: 50%;
        max-width: 164px;
        border-radius: 10px;
        margin: 25px auto 0;
        padding-top: 9px;
        cursor: pointer;
        box-shadow: 0 1px 18px rgba(0, 0, 0, 0.3);
    }
    .content-btn-prox span {
        font-family: 'Gotham Rounded Bold Regular';
        font-weight: initial;
        color: #7a7a7a !important;
        font-size: 20px !important;
        vertical-align: top;
        margin-right: 8px;
        cursor: pointer;
    }
    .img-proximo {
        max-width: 24px;
        margin: 5px 0px 5px 3px;
        cursor: pointer;
    }
    .active_answers {
        border: 3px solid #5a9dff;
        margin: 4px !important;
        padding-top: 35px !important;
        transition: 0.25s;
    }
}

@media screen and (max-width: 1980px) {
    body {
        height: 100%;
    }
    #login,
    #cadastro,
    #home {
        padding: 0 !important;
    }
    .logo_login {
        margin: 14px auto 20px auto !important;
        max-width: 244px;
        display: table;
    }
    .content_login,
    .content_cadastro,
    .content_home {
        overflow: hidden;
        width: 30% !important;
        min-width: 648px !important;
        max-width: 728px !important;
        margin: 44px auto 0 auto !important;
    }
    .subtitle {
        padding: 0px !important;
        min-width: 648px !important;
        max-width: 728px !important;
        margin: 44px auto 0 auto !important;
    }
    .subtitle_login,
    .subtitle_cadastro {
        font-size: 32px;
        margin: 2px 0px 0px 0px;
    }
    .subtitle .line_white {
        border-bottom: 4px solid #fff;
        margin-top: 25px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 1440px) {
    #login,
    #cadastro,
    #home {
        padding: 14px 120px !important;
    }
    .logo_login {
        max-width: 214px;
        margin: 14px auto 20px auto !important;
        display: table;
    }
    .content_login,
    .content_cadastro,
    .content_home {
        margin: 0 auto !important;
        width: 90% !important;
        max-width: 524px !important;
        min-width: 0px !important;
    }
    .content_home {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }
    .subtitle {
        padding: 0 !important;
        width: 90% !important;
        margin: 0 auto;
        min-width: 0 !important;
        max-width: 524px !important;
    }
    .subtitle_login,
    .subtitle_cadastro {
        font-size: 30px;
        margin: 0px 0px 0px 0px;
    }
    .subtitle .line_white {
        border-bottom: 2px solid #fff;
        margin-top: 20px;
        border-radius: 20px;
    }
    .p_login,
    .p_senha {
        font-family: 'Gotham Rounded Medium Regular';
        font-weight: initial;
        color: #fff;
        font-size: 24px !important;
        margin-top: 12px;
        margin-bottom: 0px;
        margin-left: 8px;
        padding-left: 5px;
        text-align: left;
    }
    .criar_conta {
        margin: 16px auto 18px !important;
    }
    /* ====== MENU ====== */
    .active-menu-blocks {
        box-shadow: 0 1px 18px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        height: 34px;
        width: 34px;
        z-index: 9999999999;
        padding: 23px;
        position: absolute;
        margin: 2px 0 0 0px;
        border-radius: 12px;
        background-color: #ffffff60;
    }
    .btn-menu .barra,
    .btn-menu .barra:before,
    .btn-menu .barra:after {
        width: 36px;
        height: 6px;
        display: block;
        background: #ffc661;
        border-radius: 30px;
    }
    .btn-menu .barra:before,
    .btn-menu .barra:after {
        content: '';
        position: absolute;
        transition-duration: .3s;
    }
    .btn-menu .barra:before {
        top: -2.4px;
    }
    .btn-menu .barra:after {
        bottom: -2.4px;
    }
    .btn-menu .active {
        background: none;
        transition: 0.3s
    }
    .btn-menu .active::before {
        transform: rotate(45deg);
        top: 50%;
        margin-top: -1px;
    }
    .btn-menu .active::after {
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -1px;
    }
    .btn_aulas {
        height: 52px;
        width: 96% !important;
        margin: 8px 2% !important;
    }
    .btn_aulas .title_btn {
        width: 100%;
        font-size: 24px;
        margin: 8px 0 !important;
    }
    .active_answers {
        border: 3px solid #5a9dff;
        margin: 4px !important;
        padding-top: 35px !important;
        transition: 0.25s;
    }
}

@media screen and (max-width: 768px) {
    /* =========TELA DE LOGIN======== */
    body {
        background: url(../images/bg.jpg) no-repeat fixed;
        background-size: cover;
        height: 100%;
        overflow: hidden;
        margin: 0;
    }
    #login,
    #cadastro,
    #home {
        padding: 0px 14px 0px 10px !important;
    }
    .logo_login {
        display: table;
    }
    .content_login,
    .content_cadastro,
    .content_home {
        overflow: hidden !important;
        width: 100% !important;
        max-width: 424px !important;
        min-width: 0 !important;
        padding: 0 16px !important;
        margin: 0 auto !important;
    }
    .content_login,
    .content_cadastro,
    .content_home,
    .block-menu,
    .block_question1 {
        background-image: url(../images/bg_blurred.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 0 1px 18px rgba(0, 0, 0, 0.3);
    }
    .content_home {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        min-width: 0 !important;
    }
    .subtitle {
        float: none !important;
        width: 100% !important;
        max-width: 424px !important;
        min-width: 0 !important;
        margin: 0 auto;
        padding: 0 !important;
    }
    .subtitle_login,
    .subtitle_cadastro {
        font-size: 28px;
        width: 50% !important;
    }
    .subtitle .line_white {
        border-bottom: 3px solid #fff;
        margin-top: 20px;
        border-radius: 20px;
        width: 25% !important;
    }
    .criar_conta {
        margin: 16px auto 16px;
    }
    /* ====== MENU ====== */
    .active-menu-blocks {
        box-shadow: 0 1px 18px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        height: 26px;
        z-index: 9999999999;
        padding: 25px;
        position: absolute;
        width: 26px;
        margin: 2px 0 0 -2px;
        border-radius: 16px;
    }
    .btn-menu {
        margin: 35px 65px -1px 40px;
    }
    .block-menu {
        overflow: hidden;
        width: 95% !important;
        max-width: 428px !important;
        min-width: 0px !important;
        margin: 72px auto 0 auto !important;
        border-radius: 16px;
        padding: 6px 0 20px 0;
    }
    .btn-menu-content {
        padding: 0px 8% 0 16%;
        width: 90% !important;
    }
    .btn-menu-content .conteudo-menu {
        margin: 16px 0px !important;
        padding: 10px 0% 0px 0%;
        width: 100% !important;
    }
    .btn-menu-content .title-item {
        font-size: 22px !important;
        top: -1.5px;
        position: relative;
        left: 12px;
    }
    .icon_menu {
        width: 30px;
        margin: 0 0px 0 32px;
    }
    .btn_aulas {
        height: 52px;
        width: 100% !important;
        margin: 8px 0 !important;
    }
    .btn_aulas .title_btn {
        width: 100% !important;
        font-size: 22px !important;
        margin: 12px 0 !important;
    }
    /* AULA */
    .block_question1,
    .block_question2,
    .block_question3,
    .block_question4 {
        width: 98% !important;
        min-width: 0;
        max-width: 428px !important;
        padding: 10px 4px !important;
        margin: 20px auto 0 auto !important;
    }
    .block_question1 li,
    .block_question2 li,
    .block_question3 li,
    .block_question4 li {
        margin: 6px 4px;
        width: 44%;
        height: 102px;
        padding-top: 34px;
        font-family: 'Gotham Rounded Bold Regular';
        font-size: 26px;
    }
    .active_answers {
        border: 3px solid #5a9dff;
        margin: 4px !important;
        padding-top: 25px !important;
        transition: 0.25s;
    }
}

@media screen and (max-width: 425px) {
    .btn-menu {
        margin: 35px 35px -1px 10px;
    }
    .btn-menu-content {
        width: 85%;
    }
    .logo_login {
        max-width: 164px !important;
        display: table;
        position: relative;
        margin: 0 auto;
    }
    /*=====FIM TELA DE HOME====*/
}

@media screen and (max-width: 320px) {}

.disable-btn,
.disable-btn:hover {
    cursor: no-drop;
    background-color: #2b1a1a82;
    border: none;
}

.disable-btn button {
    cursor: no-drop;
    background-color: transparent;
    border: none;
}

/* ======PAGINA DE CONQUISTAS.... NICOLAS NATHAN CAMPOS======== */

body {
    /* overflow: scroll !important; */
}

#conquista .title_home h1 {
    margin: 0rem 0 1.68rem 0 !important;
}

.background-white {
    background-color: #f9f9f9b3;
    border-radius: 25px;
    width: 100%;
}

.img-medalhas {
    max-width: 100px;
}

.medalha_not_conquist {
    display: none;
}

.alert-conquista {
    text-align: center;
    width: 100%;
    background-color: #ec9898;
    color: #fff;
    padding: 0.7rem;
    border-radius: 7px;
}